
@media(max-width: 768px) {
    
    nav { 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #3B765D;
        opacity: 0.8;
        overflow: auto;
    }
    
    /* NOTE: padding-right is a very slight adjustment for the logo, just by feel, nothing else */
    .brand-logo {
        display: flex;
        justify-content: center;
        padding-right: 0px;
        padding-bottom: 5px;
    }

    #navigation-bar ul { 
        display: flex;
        margin: 0px;
        justify-content: center;
        padding: 10px;
        list-style: none;
    }

    #navigation-bar ul li {
        display: flex;
        padding: 0px 20px 5px 20px;
        justify-content: space-around;
    }

    /* NOTE: Covers ALL main sections for each webpage on the site. */
    /* NOTE: 'flex: 1' is the magic property that makes the sticky footer possible, so review it. */
    section {
        flex: 1;
        padding: 120px 60px 120px 60px;
    }

    .intro-statement {
        font-family: 'Encode Sans', sans-serif;
        font-size: 3rem;
        padding-bottom: 4rem;
    }

    .personal-statement {
        padding-bottom: 4rem;
    }
    .about-section {
        padding: 120px 60px 120px 60px;
    }

    /* Where the sketches go, .box items are children of .sketeches-section */
    .sketches-section {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
    }
    
    /* NOTE: currently hiding all images! work on this later and add a single, nice image to display */
    .box {
        display: none;
        text-align: center;
        padding: 4rem;
    }

    .box img {
        width: 100%;
        height: auto;
    }

    /* NOTE: 'flex-wrap: wrap' fixed my issue of the non-adaptive container items... but h'why? */
    .portfolio {
        padding: 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    .portfolio li {
        padding: 60px;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    
    .portfolio li a {
        text-decoration: none;
        color: #FFFFFF;
    }

    /* Footer section */
    footer .footer {
        display: flex;
        position: relative;
        justify-content: center;
        overflow: auto;
    }
    
    footer .footer a {
        display: flex;
        justify-content: center;
        padding: 10px 0px 10px 0px;
        overflow: auto;
    }
    
    footer .footer a img {
        width: 40%;
    }
    
    /* The right/top feels... really hacky and it behaves weirdly with large pixel sizes. Doesn't compute. Refactor with grid in the future. */
    .copyright-overlay {
        font-size: .7rem;
        position: absolute;
        right: 15px;
        top: 12px;
    }
}