
/* Will work with most smartphones, God willing. */
@media(max-width: 768px) {
    
    nav { 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #3B765D;
        opacity: 0.8;
        overflow: auto;
    }
    
    /* NOTE: Padding right is a very slight adjustment for the logo, just by feel, nothing else */
    .brand-logo {
        display: flex;
        justify-content: center;
        padding-right: 0px;
        padding-bottom: 5px;
    }

    #navigation-bar ul { 
        display: flex;
        margin: 0px;
        justify-content: center;
        padding: 10px;
        list-style: none;
    }

    #navigation-bar ul li {
        display: flex;
        padding: 0px 20px 5px 20px;
        justify-content: space-around;
    }

    /* NOTE: 'flex-wrap: wrap' fixed my issue of the non-adaptive container items... but h'why? */
    .portfolio {
        padding: 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    .portfolio li {
        padding: 60px;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    
    .portfolio li a {
        text-decoration: none;
        color: #FFFFFF;
    }

    
    /* Footer section */
    footer .footer {
        display: flex;
        flex-shrink: 0;
        padding-left: 60px;

    }

    footer .footer a img {
        width: 35%; 
    }
}