/* Removes all of the CSS defaults in the browser*/
/* border-box includes both padding and border into the total width and height (w3schools) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html, body {
    font-family: 'Inter', bold;
    font-size: .97rem;
    min-height: 100vh;
    line-height: 2.0em;
}

body {
    display: flex;
    flex-direction: column;
}

/* All the navigation bar stuff for the top */
nav { 
    display: flex;
    justify-content: space-between;
    background-color: #3B765D;
    opacity: 1;
    overflow: auto;
    padding: 0px 30px;
}

h1 {
    padding: 20px 15px 15px 15px;
}

li {
    font-size: 1.1rem;
}

#navigation-bar a {
    color: #FFFFFF;
    text-decoration: none;
}

/* TODO: Once again, I am tasked with the image scaling problem. But... it needs to be high-resolution. */
.brand-logo a {
    display: flex;
}

.brand-logo a img {
    padding-bottom: 10px;
    max-width: 25%;
}

/* TODO: image works fine when low-pixel-count image is unaltered, but I need to find out how to scale a high resolution logo, as current solution is not ideal */
#navigation-bar a img:hover {
    opacity: .9;
    filter: brightness(120%);
}

/* QUESTION: Why does 'margin-left: auto' push this to the right of navbar? */
#navigation-bar ul { 
    display: flex;
    margin-left: auto;
    align-items: center;
    padding: 0px 20px 0px 20px;
    list-style: none;
}

#navigation-bar ul li {
    display: flex;
    justify-content: space-around;
}

/* Transparent bottom border to allow the hover effect (solid bottom border)
to displace it. This prevents the the navbar from moving in the views created
by the media queries.   */
#navigation-bar li {
    border-bottom: 2px solid transparent;
}

#navigation-bar li:hover {
    border-bottom: 2px solid;
    border-bottom-color: #E8FFF3;
}

#navigation-bar li a {
    display: block;
    padding: 0px 25px 0px 25px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

#navigation-bar li a:hover {
    opacity: .9;
    filter: brightness(120%);
}

/* NOTE: 'flex: 1' is the magic property that makes the sticky footer possible, so review it. */
section {
    flex: 1;
    font-size: 1.1rem;
    padding: 120px 60px 120px 60px;
}

/* NOTE: Overriding some stuff for section, just for index.html page*/
.index-section {
    padding: 60px 0px 0px 0px;
}

.intro-statement {
    opacity: .9;
    padding: 60px 60px 0px 60px;
    font-family: 'Permanent Marker', cursive;
    font-size: 3.5rem;
    padding-bottom: 4rem;
}

.personal-statement {
    padding: 0px 60px 0px 60px;
    font-size: 1.1rem;
    padding-bottom: 4rem;
}

.about-section {
    display: flex;
    font-size: 1.1rem;
    padding: 120px 60px 120px 60px;
}

/* TODO: This will be where my -potentially- animated self-portrait will go */
.self-portrait {
  
}

/* Where the sketches go, .box items are children of .sketches-section */
.sketches-section {
    padding: 0px;
    padding-bottom: 4rem;
    display: flex;
    flex: 1;
    justify-content: center;
}

.box {
    border-top: #385278 solid;
    border-bottom: #335278 solid;
    padding: 0px;
}

.box img {
    display: block;
    opacity: .6;
    width: 100%;
    height: auto;
}

/* Portfolio container, within section tag */
.portfolio {
    padding: 0px;
    display: flex;
    flex: 1;
    justify-content: center;
}

.portfolio li {
    padding: 60px;
    display: flex;
    justify-content: center;
}

.portfolio li:hover {
    opacity: .9;
    filter: brightness(120%); 
}

.portfolio li a {
    text-decoration: none;
    color: #FFFFFF;
}

/* IDs in portfolio container */
/* TODO: Add stylish hover effects for these project items */
#project1 {
    width: 400px;
    height: 300px;
    background-color: #3D7D9C;
    margin: 20px;
    border-radius: 15px;
}

#project2 {
    width: 400px;
    height: 300px;
    background-color: #649DB8;
    margin: 20px;
    border-radius: 15px;
}

#project3 {
    width: 400px;
    height: 300px;
    background-color: #16467B;
    margin: 20px;
    border-radius: 15px;
}

/* Footer section */
/* NOTE: padding-left is kind of a hacky solution to centering, but works across queries so it's fine... for now */
/* NOTE: review 'flex-shrink' - this is working in tandem with 'flex: 1' in section to allow for stick footer */
footer .footer {
    display: flex;
    position: relative;
    justify-content: center;
    overflow: auto; 
}

footer .footer a {
    display: flex;
    justify-content: center;
    width: 60px;
    padding: 10px 0px 10px 0px;
    overflow: auto;
}

footer .footer a img {
    width: 40%;
}

/* The right/top feels... really hacky and it behaves weirdly with large pixel sizes. Doesn't compute. Refactor with grid in the future. */
.copyright-overlay {
    position: absolute;
    font-size: .8rem;
    right: 50px;
    top: 10px;
}