/* Removes all of the CSS defaults in the browser*/
/* border-box includes both padding and border into the total width and height (w3schools) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html, body {
    font-family: 'Noto Sans', sans-serif;
    font-size: .97rem;
    min-height: 100vh;
    line-height: 2.0em;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgba(2, 2, 2, 0.884);
}

/* All the navigation bar stuff for the top */
nav { 
    display: flex;
    height: 50px;
    padding: 0px 30px;
    background-color: #335278;
    opacity: .8;
    overflow: auto;

}

h3 {
    color: #FFF;
}

/* NOTE: used to position images on top of cards */
a {
    position: absolute;
    top: -10%;
    left: 85%;
}

a img {
    width: 70px;
}

/* NOTE: 'flex: 1' is the magic property that makes the sticky footer possible, so review it. */
/* TODO: Refactor! I need to be consistent across sections. Not being applied in 'portfolio' */
section {
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    padding: 60px 60px 0px 60px;
}

/* Footer section */
footer .footer {
    display: flex;
    position: relative;
    justify-content: center;
    overflow: auto; 
}

footer .footer a {
    display: flex;
    justify-content: center;
    width: 60px;
    padding: 10px 0px 10px 0px;
    overflow: auto;
}

footer .footer a img {
    width: 40%;
}

/* Utility classes */
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 80vw;
    height: 50vh;
}

.card {
    background: rgb(190,190,198);
    background: linear-gradient(207deg, rgba(190,190,198,1) 0%, rgba(203,203,203,1) 39%, rgba(136,165,171,1) 100%);
    border: 3px solid #335278;
    position: relative;
    height: 80%;
    width: 17%;
    margin: 25px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1.7;
    overflow: visible;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 17% 0px 17%;
    padding: 1% 2% 1% 2%;
    border: 1px solid slategrey;
}

.text-box-white {
    display: flex;
    align-items: center;
    color: #FFF;
}

/* The right/top feels... really hacky and it behaves weirdly with large pixel sizes. Doesn't compute. Refactor with grid in the future. */
.copyright-overlay {
    position: absolute;
    font-size: .8rem;
    right: 50px;
    top: 10px;
}